body {
    
}

#ready {
    border-right: 2px solid;
    max-height: 350px;
    min-height: 350px;
    overflow-y: auto;
}
#devoured {
    max-height: 350px;
    min-height: 350px;
    overflow-y: auto;
}

#devoured li{
    color: #999;
    text-decoration: line-through;
    text-align: right;
}

#ready button {
    float: right;
}

#addBurger button{
    float: left;
}


h1,h2,h3,h4,h5,h6{
    text-align: center;
}